<!-- ============================================ -->
    <!--                  Pricing                     -->
    <!-- ============================================ -->

    <section id="pricing">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Pricing</span>
                <h2 class="cs-title">It’s Easy to Get Started</h2>
                <p class="cs-text">
                    At Stitch Cleaning Service, let us help you solve problems so that you can focus on your mission. We support businesses through periods of expansion, succession.
                </p>
                <div class="cs-toggle-group">
                    <span id="cs-option1-387" class="cs-plan">Weekly</span>
                    <div class="cs-toggle" aria-label="click to switch plans pricing">
                        <span aria-hidden="true" class="cs-toggle-switch"></span>
                    </div>
                    <span id="cs-option2-387" class="cs-plan">Monthly</span>
                </div>
            </div>
            <ul class="cs-card-group">
                <!-- Option 2 -->
                <li class="cs-item cs-popular">
                    <div class="cs-top-section">
                        <div class="cs-flex">
                            <h3 class="cs-h3">Standard</h3>
                            <p class="cs-item-text">
                                Perfect to get started.
                            </p>
                        </div>
                        <div class="cs-option-group">
                            <span class="cs-price cs-option1-text">$69<span class="cs-small">/week</span></span>
                            <span class="cs-price cs-option2-text">$327<span class="cs-small">/month</span></span>
                        </div>
                    </div>
                    <span class="cs-included">Package Includes</span>
                    <ul class="cs-ul">
                        <li class="cs-li">
                            <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                            All available starter feature
                        </li>
                        <li class="cs-li">
                            <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                            Home service 24/7
                        </li>
                        <li class="cs-li">
                            <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                            Customer agent service
                        </li>
                        <li class="cs-li">
                            <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                            Professional cleaner
                        </li>
                        <li class="cs-li cs-disabled">
                            <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                            2 bed room cleaning
                        </li>
                        <li class="cs-li cs-disabled">
                            <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                            2 bed, living room cleaning
                        </li>
                    </ul>
                    <a href="#contact" class="cs-button-solid">Get Started</a>
                </li>
                <!-- Option 3 -->
                <li class="cs-item">
                    <div class="cs-top-section">
                        <div class="cs-flex">
                            <h3 class="cs-h3">Ultimate</h3>
                            <p class="cs-item-text">
                                Perfect to get started.
                            </p>
                        </div>
                        <div class="cs-option-group">
                            <span class="cs-price cs-option1-text">$99<span class="cs-small">/week</span></span>
                            <span class="cs-price cs-option2-text">$327<span class="cs-small">/month</span></span>
                        </div>
                    </div>
                    <span class="cs-included">Package Includes</span>
                    <ul class="cs-ul">
                        <li class="cs-li">
                            <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                            All available starter feature
                        </li>
                        <li class="cs-li">
                            <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                            Home service 24/7
                        </li>
                        <li class="cs-li">
                            <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                            Customer agent service
                        </li>
                        <li class="cs-li">
                            <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                            Professional cleaner
                        </li>
                        <li class="cs-li">
                            <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                            2 bed room cleaning
                        </li>
                        <li class="cs-li">
                            <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                            2 bed, living room cleaning
                        </li>
                    </ul>
                    <a href="contact" class="cs-button-solid">Get Started</a>
                </li>
            </ul>
        </div>
    </section>
                                
    <style>
        /*-- -------------------------- -->
<---          Pricing           -->
<--- -------------------------- -*/

/* Mobile 360px */
@media only screen and (min-width: 0rem) {
    #pricing {
        padding: var(--sectionPadding);
    }
    #pricing .cs-container {
        width: 100%;
        max-width: 80rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 48px - 64px */
        gap: clamp(3rem, 6vw, 4rem);
    }
    #pricing .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: center;
    }

    #pricing .cs-text {
        /* 48px - 64px */
        margin-bottom: clamp(3rem, 3vw, 4rem);
    }
    #pricing .cs-toggle-group {
        width: 12.5rem;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #pricing .cs-plan {
        font-size: 1rem;
        line-height: 1.5em;
        margin: 0;
        padding: 0;
        color: var(--headerColor);
    }
    #pricing .cs-plan:hover {
        cursor: pointer;
    }
    #pricing .cs-toggle {
        width: 3.5rem;
        height: 1.75rem;
        border-radius: 2.5rem;
        background-color: var(--primary);
        margin: 0 0.75rem;
        position: relative;
        /* prevent flexbox from squishing it */
        flex: none;
    }
    #pricing .cs-toggle:hover {
        cursor: pointer;
    }
    #pricing .cs-toggle.active:before {
        opacity: 1;
    }
    #pricing .cs-toggle.active .cs-toggle-switch {
        left: 2rem;
    }
    #pricing .cs-toggle:before {
        /* top right box */
        content: "";
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, #ffba43 -24.69%, #e12213 126.23%);
        opacity: 0;
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        border-radius: 2.5rem;
        transition: opacity 0.3s;
    }
    #pricing .cs-toggle-switch {
        width: 1.25rem;
        height: 1.25rem;
        display: block;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0.25rem;
        transition: left 0.3s;
        background: #fff;
    }
    #pricing .cs-option-group {
        position: relative;
        /* these two create the 3D illusion */
        perspective: 700px;
        transform-style: preserve-3d;
    }
    #pricing .cs-option-group.option2-active .cs-option1-text {
        opacity: 0;
        transform: scaleY(0);
    }
    #pricing .cs-option-group.option2-active .cs-option2-text {
        top: 0;
        opacity: 1;
    }
    #pricing .cs-option1-text {
        transform-origin: center center;
        transition:
            opacity 0.3s,
            transform 0.3s;
    }
    #pricing #cs-option2-387 {
        position: relative;
    }
    #pricing #cs-option2-387:before {
        /* squiggle arrow */
        content: "";
        position: absolute;
        display: block;
        height: 1.75rem;
        width: 1.75rem;
        background: url("https://csimg.nyc3.digitaloceanspaces.com/Pricing/sqiggle-arrow.svg");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        opacity: 1;
        top: -0.3125rem;
        right: -2rem;
    }
    #pricing #cs-option2-387:after {
        /* percentage off */
        content: "30% off";
        font-size: 0.75rem;
        line-height: 1.625rem;
        text-transform: uppercase;
        font-weight: 500;
        width: auto;
        height: 1.625rem;
        padding: 0 0.75rem;
        border-radius: 0.5rem;
        background: #e5f2ff;
        box-sizing: border-box;
        color: var(--primary);
        opacity: 1;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: -1.875rem;
        right: -4.25rem;
    }
    #pricing .cs-option2-text {
        /* push the text down, outside of the group wrapper and animate back up */
        opacity: 0;
        position: absolute;
        left: 0;
        top: 1.875rem;
        transition:
            opacity 0.3s,
            top 0.6s cubic-bezier(0.42, 0, 0.16, 1.39);
    }
    #pricing .cs-card-group {
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        /* 16px - 20px */
        gap: clamp(1rem, 2vw, 1.25rem);
    }
    #pricing .cs-item {
        list-style: none;
        /* 20px - 32px top & bottom */
        /* 16px - 32px left & right */
        padding: clamp(1.25rem, 3vw, 2rem) clamp(1rem, 2.4vw, 2rem);
        width: 100%;
        max-width: 39.375rem;
        border-radius: 1rem;
        background: #fff;
        border: 1px solid #e8e8e8;
        /* prevents padding from adding to height and width */
        box-sizing: border-box;
    }
    #pricing .cs-item:nth-of-type(2) {
        background-color: #f7f7f7;
    }
    #pricing .cs-item:nth-of-type(2) .cs-option2-text,
    #pricing .cs-item:nth-of-type(2) .cs-option1-text {
        transition-delay: 0.1s;
    }
    #pricing .cs-popular {
        background: var(--primary);
        position: relative;
        /* clips the popular tag */
        overflow: hidden;
        /* send to the top */
        order: -1;
    }
    #pricing .cs-popular:before {
        /* Most Popular Tag */
        content: "Popular";
        font-size: 0.875rem;
        text-align: center;
        line-height: 1.8125rem;
        font-weight: 700;
        width: 10.625rem;
        padding: 0 0.75rem;
        color: var(--bodyTextColorWhite);
        background-color: var(--secondary);
        position: absolute;
        display: block;
        top: 1.25rem;
        right: -3.75rem;
        transform: rotate(42deg);
    }
    #pricing .cs-popular .cs-h3,
    #pricing .cs-popular .cs-item-text,
    #pricing .cs-popular .cs-price,
    #pricing .cs-popular .cs-included,
    #pricing .cs-popular .cs-li,
    #pricing .cs-popular .cs-small {
        color: var(--bodyTextColorWhite);
    }
    #pricing .cs-popular .cs-button-solid {
        background-color: #fff;
        color: var(--primary);
        transition: color 0.3s;
    }
    #pricing .cs-popular .cs-button-solid:before {
        background-color: var(--secondary);
    }
    #pricing .cs-popular .cs-button-solid:hover {
        color: #fff;
    }
    #pricing .cs-popular .cs-li-img {
        /* turns the check mark white */
        filter: brightness(900%);
    }
    #pricing .cs-h3 {
        font-size: 1.25rem;
        line-height: 1.2em;
        font-weight: 700;
        margin: 0 0 0.25rem;
        padding: 0;
        color: var(--headerColor);
    }
    #pricing .cs-item-text {
        font-size: 0.875rem;
        line-height: 1.5em;
        /* 16px - 24px */
        margin: 0 0 clamp(1rem, 2vw, 1.5rem);
        padding: 0;
        color: var(--bodyTextColor);
    }
    #pricing .cs-option-group {
        position: relative;
    }
    #pricing .cs-option-group:after {
        /* top right box */
        content: "";
        width: 100%;
        height: 1px;
        /* 32px - 40px */
        margin-bottom: clamp(2rem, 4vw, 2.5rem);
        background: linear-gradient(
            90deg,
            rgba(232, 232, 232, 0.2) 0%,
            #e8e8e8 53.78%,
            rgba(232, 232, 232, 0.2) 100%
        );
        opacity: 1;
        position: relative;
        display: block;
    }
    #pricing .cs-price {
        font-size: 3.0625rem;
        line-height: 1.2em;
        font-weight: 700;
        margin-bottom: 1.5rem;
        color: var(--headerColor);
        /* spans are inline, need to add block for margin to work */
        display: block;
    }
    #pricing .cs-small {
        font-size: 0.875rem;
        font-weight: 400;
        color: #4e4b66;
    }
    #pricing .cs-included {
        font-size: 1rem;
        line-height: 1.5em;
        font-weight: 700;
        /* 16px - 24px */
        margin-bottom: clamp(1rem, 3vw, 1.5rem);
        color: var(--headerColor);
        display: block;
    }
    #pricing .cs-ul {
        padding: 0;
        margin: 0;
        /* 32px - 40px */
        margin-bottom: clamp(2rem, 4vw, 2.5rem);
    }
    #pricing .cs-li {
        /* 14px - 16px */
        font-size: clamp(0.875rem, 1.5vw, 1rem);
        line-height: 1.5em;
        list-style: none;
        padding: 0;
        margin: 0 0 0.75rem;
        color: var(--bodyTextColor);
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }
    #pricing .cs-li:last-of-type {
        margin-bottom: 0;
    }
    #pricing .cs-disabled {
        /* fades out list items that are disabled from the price tier */
        filter: grayscale(1);
        opacity: 0.3;
    }
    #pricing .cs-li-img {
        width: 1.25rem;
        height: auto;
        margin-top: 0.1875rem;
        margin-right: 0.5rem;
    }
    #pricing .cs-button-solid {
        font-size: 1rem;
        /* 46px - 56px */
        line-height: clamp(2.875rem, 5.5vw, 3.5rem);
        text-decoration: none;
        font-weight: 700;
        text-align: center;
        margin: 0;
        color: #fff;
        min-width: 9.375rem;
        padding: 0 1.5rem;
        background-color: var(--primary);
        border-radius: 0.25rem;
        display: inline-block;
        position: relative;
        z-index: 1;
        /* prevents padding from adding to the width */
        box-sizing: border-box;
    }
    #pricing .cs-button-solid:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 0%;
        background: #000;
        opacity: 1;
        top: 0;
        left: 0;
        z-index: -1;
        border-radius: 0.25rem;
        transition: width 0.3s;
    }
    #pricing .cs-button-solid:hover:before {
        width: 100%;
    }
    #pricing .cs-button-solid {
        /* cs-button-solid override */
        width: 100%;
        margin: 0 0 1rem 0;
    }
}
/* Tablet 768px */
@media only screen and (min-width: 48rem) {
    #pricing .cs-card-group {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        flex-wrap: nowrap;
    }
    #pricing .cs-item {
        width: 100%;
        /* ensures they stay the same height if you add more content */
        align-self: stretch;
    }
    #pricing .cs-popular {
        /* send back to its original order */
        order: unset;
    }
    #pricing #cs-option2-387:before {
        top: -0.625rem;
    }
    #pricing #cs-option2-387:after {
        top: -2.1875rem;
        right: -6.25rem;
    }
}
/* Desktop 1300px */
@media only screen and (min-width: 81.25rem) {
    #pricing .cs-top-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    #pricing .cs-top-section:after {
        /* top right box */
        content: "";
        width: 100%;
        height: 1px;
        /* 32px - 40px */
        margin-bottom: clamp(2rem, 4vw, 2.5rem);
        background: linear-gradient(
            90deg,
            rgba(232, 232, 232, 0.2) 0%,
            #e8e8e8 53.78%,
            rgba(232, 232, 232, 0.2) 100%
        );
        opacity: 1;
        position: relative;
        display: block;
    }
    #pricing .cs-option-group {
        margin-right: 5rem;
    }
    #pricing .cs-option-group:after {
        display: none;
    }
    #pricing .cs-ul {
        /* splits the list into 2 columns */
        columns: 2;
        column-gap: 6.875rem;
    }
}

                                
    </style>

    <script>
        const toggle = document.querySelector("#pricing .cs-toggle");
        const option1 = document.querySelector("#pricing .cs-toggle-group #cs-option1");
        const option2 = document.querySelector("#pricing .cs-toggle-group #cs-option2");
        const optionGroup = Array.from(document.querySelectorAll('.cs-option-group'))

        toggle.addEventListener('click', (e) => { 
            for (const item of optionGroup) {
                item.classList.toggle("option2-active");
            }
            toggle.classList.toggle("active");
        });
        option1.addEventListener('click', (e) => { 
            for (const item of optionGroup) {
                item.classList.remove("option2-active");
            }
            toggle.classList.remove("active");
        });
        option2.addEventListener('click', (e) => { 
            for (const item of optionGroup) {
                item.classList.add("option2-active");
            }
            toggle.classList.add("active");
        });
                                
    </script>